[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
python-dotenv = "*"
pylint = "*"

[packages]
flask = "*"
pymongo = "*"
tinymongo = "*"
pytest = "*"
coverage = "*"
flask-restplus = "*"
werkzeug = "==0.16.1"

[requires]
python_version = "3.7"
